"id": 1,
"PlayerID": "USAFB ID",
"SalesforceID": "Salesforce ID",
"fName": "First Name",
"mName": "Middle Name",
"lName": "Last Name",
"Gender": "Gender",
"BirthDate": "Date of Birth",
"AgeGroup": "Age Group"
"Address1": "Address1",
"Address2": "Address2",
"City": "City",
"County": "County",
"State": "State",
"Zip": "Zip",
"Source": "Source",
"Email": "Email",
"CellPhone": "Cell Phone",
"HSGraduationYear": "HS Graduation Year",
"CurrentGrade": "Current Grade",
"Height": "Height",
"Weight": "Weight",
"Photo": "Photo",
"GameType": "Game Type",
"ProfileLastUpdated": "Profile Last Updated",
"InstagramHandle": "Instagram Handle",
"TwitterHandle": "Twitter Handle",
"Guardian1FName": "Parent / Guardian 1 First Name",
"Guardian1LName": "Parent / Guardian 1 Last Name",
"Guardian1HP": "Parent / Guardian 1 Home Phone",
"Guardian1MP": "Parent / Guardian 1 Mobile Phone",
"Guardian1WP": "Parent / Guardian 1 Work Phone",
"Guardian1Email": "Parent / Guardian 1 Email",
"Guardian2FName": "Parent / Guardian 2 First Name",
"Guardian2LName": "Parent / Guardian 2 Last Name",
"Guardian2HP": "Parent / Guardian 2 Home Phone",
"Guardian2MP": "Parent / Guardian 2 Mobile Phone",
"Guardian2WP": "Parent / Guardian 2 Work Phone",
"Guardian2Email": "Parent / Guardian 2 Email",
"League": "League",
"LevelOfPlay": "Level of Play",
"Season": "Season",
"YearsInSport": "# of Years in sport",
"Organization": "Organization",
"OrganizationState": "Organization State",
"District": "District",
"SchoolAttending": "School Attending",
"SchoolDistrict": "School District",
"SchoolState": "School State",
"TeamName": "Team Name",
"TeamGender": "Team Gender",
"TeamAgeGroup": "Team Age Group",
"TeamSchool": "Team School",
"PlayerPosition": "Player Position",
"OtherSportsPlayed": "Other sports played",
"Athlete": "Athlete",
"NFLMarket": "NFL Market",
"BirthCertificate": "Birth Certificate",
"USAFBRightToMarket": "USAFB Right to Market To"



































",
"Guardian2MP": "Parent / Guardian 2 Mobile Phone",
"Guardian2WP": "Parent / Guardian 2 Work Phone",
"Guardian2Email": "Parent / Guardian 2 Email",
"League": "League",
"LevelOfPlay": "Level of Play",
"Season": "Season",
"YearsInSport": "# of Years in sport",
"Organization": "Organization",
"OrganizationState": "Organization State",
"District": "District",
"SchoolAttending": "School Attending",
"SchoolDistrict": "School District","SchoolState": "School State",
"TeamName": "Team Name",
"TeamGender": "Team Gender",
"TeamAgeGroup": "Team Age Group",
"TeamSchool": "Team School",
"PlayerPosition": "Player Position",
"OtherSportsPlayed": "Other sports played",
"Athlete": "Athlete",
"NFLMarket": "NFL Market",
"BirthCertificate": "Birth Certificate",
"USAFBRightToMarket": "USAFB Right to Market To"
},