<div class="bss-ddm-overide">  
    <div class="dropdown">
          <button type="button" id="dropdownMenuLink" role="button" aria-label="columns" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th fa-th"></i> <span class="caret"></span></button>
        <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink"> 
              <div class="row"><div class="col-12">
                  <p>Select the boxes next to the column names you would like to view.</p>
              </div></div>
              <div class="row">
                <div class="col-2 form-check">
                  <div><h5 class="sectionTitle">GENERAL INFO</h5></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="PlayerID" value="">  Player ID (USAFB ID)</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SalesforceID" value=""> Salesforce ID</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="FirstName" value=""> First Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="MiddleName" value=""> Middle Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="LastName" value="">  Last Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Gender" value=""> Gender</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="BirthDate" value=""> Date of Birth</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Address1" value=""> Address1</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Address2" value=""> Address2</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="City" value=""> City</label></div>
                </div>
                <div class="col-2 form-check">
                    <div>&nbsp;</div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="County" value=""> County</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="State" value=""> State</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Zip" value=""> Zip</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Email" value=""> Email</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="CellPhone" value=""> Cell Phone</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="HSGraduationYear" value=""> HS Graduation Year</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="CurrentGrade" value=""> Current Grade</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Height" value=""> Height</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Weight" value=""> Weight</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Photo" value=""> Photo</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="GameType" value=""> Game Type</label></div>
                    <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="ProfileLastUpdated" value=""> Profile Last Updated</label></div>
                </div>
  
                <div class="col-2 form-check">
                  <div><h5 class="sectionTitle">SOCIAL</h5></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="InstagramHandle" value=""> Instagram Handle</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TwitterHandle" value=""> Twitter Handle</label></div>
                  <div><h5 class="sectionTitle">PARENTS/GUARDIANS</h5></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1FName" value=""> Parent / Guardian 1 / First Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1LName" value=""> Parent / Guardian 1 / Last Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1HP" value=""> Parent / Guardian 1 / Home Phone</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1MP" value=""> Parent / Guardian 1 / Mobile Phone</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1WP" value=""> Parent / Guardian 1 / Work Phone</label></div>
                </div>
  
                <div class="col-2 form-check">
                  <div>&nbsp;</div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1Email" value=""> Parent / Guardian 1 / Email</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2FName" value=""> Parent / Guardian 2 / First Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2LName" value=""> Parent / Guardian 2 / Last Name</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2HP" value=""> Parent / Guardian 2 / Home Phone</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2MP" value=""> Parent / Guardian 2 / Mobile Phone</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2WP" value=""> Parent / Guardian 2 / Work Phone</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2Email" value=""> Parent / Guardian 2 / Email</label></div>
                </div>
  
                <div class="col-2 form-check">
                  <div><h5>SPORT(S)</h5></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="League" value=""> League</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="LevelOfPlay" value=""> Level of Play</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Season" value=""> Season (ex: Fall 201</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="YearsInSport" value=""> # of Years in sport</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Organization" value=""> Organization (Name)</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="OrganizationState" value=""> Organization State</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="District" value=""> District</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolAttending" value=""> School Attending</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolDistrict" value=""> School District</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolState" value=""> School State</label></div>
                </div>
                
                <div class="col-2 form-check">
                  <div>&nbsp;</div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolState" value=""> School State</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TeamGender" value=""> Team Gender</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TeamAgeGroup" value=""> Team Age Group</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TeamSchool" value=""> Team School</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="PlayerPosition" value=""> Player Position</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="OtherSportsPlayed" value=""> Other sports played</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Athlete" value=""> Athlete</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="NFLMarket" value=""> NFL Market</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="BirthCertificate" value=""> Birth Certificate (Y/N)</label></div>
                  <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="USAFBRightToMarket" value=""> USAFB Right to Market To (Y/N)</label></div>
                  <div><a href="javascript:void(0);" class="bss-btn btn-primary-02">APPLY</a></div>
                </div>
              </div>
            </div>
         </div>
        </div>
    </div>