<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>User Management - USA Football</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
  <link rel="apple-touch-icon" href="/images/fav/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/fav/favicon.ico">
  <link rel="stylesheet" href="/css/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap-table/1.11.1/bootstrap-table.css">
  <link rel="stylesheet" href="/css/usafb-bootstrap.css">

</head>

<body>
    <div class="bss-ddm-overide">  
        <div class="dropdown">
              <button type="button" id="dropdownMenuLink" role="button" aria-label="columns" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th fa-th"></i> <span class="caret"></span></button>
            <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink"> 
                  <div class="row"><div class="col-12">
                      <p>Select the boxes next to the column names you would like to view.</p>
                  </div></div>
                  <div class="row">
                    <div class="col-2 form-check">
                      <div><h5 class="sectionTitle">GENERAL INFO</h5></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="PlayerID" value="">  Player ID (USAFB ID)</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SalesforceID" value=""> Salesforce ID</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="FirstName" value=""> First Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="MiddleName" value=""> Middle Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="LastName" value="">  Last Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Gender" value=""> Gender</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="BirthDate" value=""> Date of Birth</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Address1" value=""> Address1</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Address2" value=""> Address2</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="City" value=""> City</label></div>
                    </div>
                    <div class="col-2 form-check text-truncate">
                        <div><h5 class="sectionTitle text-lightGray invisible">GENERAL INFO</h5></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="County" value=""> County</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="State" value=""> State</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Zip" value=""> Zip</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Email" value=""> Email</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="CellPhone" value=""> Cell Phone</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="HSGraduationYear" value=""> HS Graduation Year</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="CurrentGrade" value=""> Current Grade</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Height" value=""> Height</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Weight" value=""> Weight</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Photo" value=""> Photo</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="GameType" value=""> Game Type</label></div>
                        <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="ProfileLastUpdated" value=""> Profile Last Updated</label></div>
                    </div>
      
                    <div class="col-2 form-check text-truncate">
                      <div><h5 class="sectionTitle">SOCIAL</h5></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="InstagramHandle" value=""> Instagram Handle</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TwitterHandle" value=""> Twitter Handle</label></div>
                      <div><h5 class="sectionTitle">PARENTS/GUARDIANS</h5></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1FName" value=""> <span>Parent / Guardian 1</span> First Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1LName" value=""> <span>Parent / Guardian 1</span> Last Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1HP" value=""> <span>Parent / Guardian 1</span> Home Phone</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1MP" value=""> <span>Parent / Guardian 1</span> Mobile Phone</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1WP" value=""> <span>Parent / Guardian 1</span> Work Phone</label></div>
                    </div>
      
                    <div class="col-2 form-check text-truncate">
                      <div><h5 class="sectionTitle text-lightGray invisible">PARENTS/GUARDIANS</h5></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian1Email" value=""> <span>Parent / Guardian 1</span> Email</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2FName" value=""> <span>Parent / Guardian 2</span> First Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2LName" value=""> <span>Parent / Guardian 2</span> Last Name</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2HP" value=""> <span>Parent / Guardian 2</span> Home Phone</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2MP" value=""> <span>Parent / Guardian 2</span> Mobile Phone</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2WP" value=""> <span>Parent / Guardian 2</span> Work Phone</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Guardian2Email" value=""> <span>Parent / Guardian 2</span> Email</label></div>
                    </div>
      
                    <div class="col-2 form-check text-truncate">
                      <div><h5>SPORT(S)</h5></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="League" value=""> League</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="LevelOfPlay" value=""> Level of Play</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Season" value=""> Season (ex: Fall 201</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="YearsInSport" value=""> # of Years in sport</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Organization" value=""> Organization (Name)</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="OrganizationState" value=""> Organization State</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="District" value=""> District</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolAttending" value=""> School Attending</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolDistrict" value=""> School District</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolState" value=""> School State</label></div>
                    </div>
                    
                    <div class="col-2 form-check text-truncate">
                      <div>&nbsp;</div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="SchoolState" value=""> School State</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TeamGender" value=""> Team Gender</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TeamAgeGroup" value=""> Team Age Group</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="TeamSchool" value=""> Team School</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="PlayerPosition" value=""> Player Position</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="OtherSportsPlayed" value=""> Other sports played</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="Athlete" value=""> Athlete</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="NFLMarket" value=""> NFL Market</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="BirthCertificate" value=""> Birth Certificate (Y/N)</label></div>
                      <div role="dropdown-item"><label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="USAFBRightToMarket" value=""> USAFB Right to Market To (Y/N)</label></div>
                      <div><a href="javascript:void(0);" class="bss-btn btn-primary-02">APPLY</a></div>
                    </div>
                  </div>
                </div>
             </div>
            </div>
        </div>


  <!-- js goes below -->
  <script src="/js/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/js/vendor/jquery/jquery-1.12.0.min.js"><\/script>')
  </script>
  <script src="/js/vendor/popper.js"></script>
  <script src="/js/usafb-bootstrap.js"></script>
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- Page Loader -->
  <script src="/js/vendor/pace/v1.0.0/pace.min.js"></script>
  <!-- Bootstrap-table -->
  <script src="/js/vendor/bootstrap-table/1.11.1/bootstrap-table.js"></script>
  <script src="/js/vendor/bootstrap-table/1.11.1/locale/bootstrap-table-en-US.min.js"></script>
  <script src="/js/bss.js"></script>
  <script>
      var $table = $('#table'),
          $button = $('#button'),
          $button2 = $('#button2');
  /*
      $(function () {
          $button.click(function () {
              $table.bootstrapTable('showColumn', 'name');
          });
          $button2.click(function () {
              $table.bootstrapTable('hideColumn', 'name');
          });
      });
      // build columns
      if (this.options.showColumns) {
            html.push(sprintf('<div class="keep-open btn-group" title="%s">',
                    this.options.formatColumns()),
                `<button type="button" aria-label="columns" class="btn${ 
                sprintf(' btn-%s', this.options.buttonsClass) 
                }${sprintf(' btn-%s', this.options.iconSize) 
                } dropdown-toggle" data-toggle="dropdown">`,
                sprintf('<i class="%s %s"></i>', this.options.iconsPrefix, this.options.icons.columns),
                ' <span class="caret"></span>',
                '</button>',
                '<ul class="dropdown-menu bss-ddm-overide" role="menu">')

            $.each(this.columns, (i, column) => {
                if (column.radio || column.checkbox) {
                    return;
                }

                if (that.options.cardView && !column.cardVisible) {
                    return;
                }

                var checked = column.visible ? '' : '';

                if (column.switchable) {
                    html.push(sprintf('<li role="menuitem">' +
                        '<label class="form-check-label"><input type="checkbox" class="form-check-input" data-field="%s" value="%s"%s> %s</label>' +
                        '</li>', column.field, i, checked, column.title));
                    switchableCount++;
                }
            })
            html.push('</ul>',
                '</div>')
        }

        html.push('</div>') */
  </script>
  
</body>

</html>
