@font-face {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2") format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2212, u+2215; }

@font-face {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2212, u+2215; }

@font-face {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url("/css/web-fonts/roboto/roboto-mono.woff2") format("woff2"); }

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  background: #8ab8e4;
  opacity: 0;
  transition: all .25s ease-in-out;
  animation: fadeIn ease-in 1;
  animation-duration: .5s;
  animation-fill-mode: forwards; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

iframe {
  width: 100%;
  border: 0; }

.iframeSizeMe {
  height: 2000px;
  background: transparent; }

/* ---- utilities ----- */
.vh100 {
  height: 100vh; }

/* ------ FLEX ------ */
.container-flexi-fluid {
  display: flex;
  flex-flow: row wrap;
  padding: 0; }

.container-flexi {
  display: flex;
  flex-flow: row wrap;
  max-width: 1280px;
  padding: 20px 0 0; }

.flexi-container {
  display: flex;
  flex-flow: row wrap; }

.flexi-inline-col-container {
  display: inline-flex;
  flex-flow: column wrap; }

.flexi-item {
  flex: 1 auto; }

.flexi-item-gs-sm {
  flex: .25 auto; }

.flexi-item-gs-none {
  flex: 0 auto; }

.axis-column {
  display: flow-root;
  flex-flow: column wrap; }

.axis-row {
  display: flow-root;
  flex-flow: row wrap; }

.flex-no-shrink {
  flex-shrink: 0; }

/*
< ----------- TEXTUAL ----------- >
*/
.font-weight-light {
  font-weight: 300; }

.font-95 {
  font-size: 95%; }

.font-85 {
  font-size: 85%; }

.font-75 {
  font-size: 75%; }

.font-50 {
  font-size: 50%; }

.text-small {
  font-size: 0.875rem; }

.text-lg {
  font-size: 1.5rem; }

.text-xlg {
  font-size: 2rem; }

.text-yellow {
  color: #fafad2; }

.text-lightGray {
  color: #adb5bd; }

.text-gray {
  color: #333; }

/*
< ----------- NEXT ----------- >
*/
header {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

form {
  flex: 0 1 100%;
  width: 100%;
  max-width: 100%; }

strong {
  font-weight: 700; }

small {
  font-weight: 300; }

/*
< ----------- ANIMATED CHECKBOX ----------- >
*/
.animate-checkbox .tg-list {
  display: flex;
  align-items: center;
  text-align: center; }

.animate-checkbox .tg-list-item {
  margin: 0 2em; }

.animate-checkbox .tgl {
  display: none; }
  .animate-checkbox .tgl::after, .animate-checkbox .tgl::before,
  .animate-checkbox .tgl *,
  .animate-checkbox .tgl *::after,
  .animate-checkbox .tgl *::before,
  .animate-checkbox .tgl + .tgl-btn {
    box-sizing: border-box; }
    .animate-checkbox .tgl::after::selection, .animate-checkbox .tgl::before::selection,
    .animate-checkbox .tgl *::selection,
    .animate-checkbox .tgl *::after::selection,
    .animate-checkbox .tgl *::before::selection,
    .animate-checkbox .tgl + .tgl-btn::selection {
      background: none; }
  .animate-checkbox .tgl + .tgl-btn {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 1.8rem;
    cursor: pointer;
    user-select: none;
    outline: 0; }
    .animate-checkbox .tgl + .tgl-btn::after, .animate-checkbox .tgl + .tgl-btn::before {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100%;
      content: ""; }
    .animate-checkbox .tgl + .tgl-btn::after {
      left: 0; }
    .animate-checkbox .tgl + .tgl-btn::before {
      display: none; }
  .animate-checkbox .tgl:checked + .tgl-btn::after {
    left: 50%; }

.animate-checkbox .tgl-skewed + .tgl-btn {
  overflow: hidden;
  font-family: "Roboto Light", sans-serif;
  background: #28a745;
  transition: all .2s ease;
  transform: skew(-10deg);
  backface-visibility: hidden; }
  .animate-checkbox .tgl-skewed + .tgl-btn::after, .animate-checkbox .tgl-skewed + .tgl-btn::before {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    line-height: 2em;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    transition: all .2s ease;
    transform: skew(10deg); }
  .animate-checkbox .tgl-skewed + .tgl-btn::after {
    left: 100%;
    content: attr(data-tg-on); }
  .animate-checkbox .tgl-skewed + .tgl-btn::before {
    left: 0;
    content: attr(data-tg-off); }
  .animate-checkbox .tgl-skewed + .tgl-btn:active {
    background: #28a745; }
    .animate-checkbox .tgl-skewed + .tgl-btn:active::before {
      left: -10%; }

.animate-checkbox .tgl-skewed:checked + .tgl-btn {
  background: #888; }
  .animate-checkbox .tgl-skewed:checked + .tgl-btn::before {
    left: -100%; }
  .animate-checkbox .tgl-skewed:checked + .tgl-btn::after {
    left: 0; }
  .animate-checkbox .tgl-skewed:checked + .tgl-btn:active::after {
    left: 10%; }

/*
< ----------- ASPECT RATIO ----------- >
*/
.are-21by9::before {
  padding-top: 42.85714%; }

.ar-16by9::before {
  padding-top: 56.25%; }

.ar-4by3::before {
  padding-top: 75%; }

.ar-1by1::before {
  padding-top: 100%; }

/*
< ----------- ICONS ----------- >
*/
.icon-chevron-down {
  color: white; }
  .icon-chevron-down::after {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 8px;
    font-family: normal normal normal 14px/1 FontAwesome;
    font-size: roboto, roboto light, sans-serif;
    text-align: right;
    content: "\f078";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icon-calendar {
  color: white; }
  .icon-calendar::after {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 3000;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 8px;
    font-family: normal normal normal 14px/1 FontAwesome;
    font-size: roboto, roboto light, sans-serif;
    text-align: right;
    content: "\f073";
    opacity: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

/*
< ----------- CALLOUTS ----------- >
*/
.callout {
  position: relative;
  padding: 18px 20px;
  margin: 18px 0;
  background: #eef4f9;
  border-radius: 6px; }
  .callout .notch {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-top: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eef4f9;
    border-left: 10px solid transparent; }

.pace {
  pointer-events: none;
  user-select: none; }
  .pace .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 2000;
    width: 100%;
    height: 2px;
    background: #2e69a3; }

.pace-inactive {
  display: none; }

a {
  outline: none;
  outline-width: 0; }

.alert-success {
  color: #212529;
  background: #8fd19e;
  border: 2px solid #74c184; }

.btn {
  text-transform: uppercase; }
  .btn:focus {
    opacity: .9; }

button:hover {
  cursor: pointer; }

.actionButtons .actionBtn label {
  display: inline-flex; }

.btn-skewed {
  position: relative;
  top: 0;
  display: inline-block;
  height: 1.8rem;
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  background: #09254a;
  outline: 0;
  transform: skew(-10deg); }
  .btn-skewed:hover {
    color: #fff;
    text-decoration: none;
    background: #26579c; }
  .btn-skewed .lbl-save {
    transform: skew(10deg); }

.btn-blue-grad-pill {
  width: 136.5px;
  height: 41px;
  color: #fff;
  background: #083660 linear-gradient(to bottom, #45517e, #09254a);
  border: 2px solid #083660;
  border-radius: 100px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.32);
  transition: all .25s ease-in-out; }
  .btn-blue-grad-pill:hover {
    background: linear-gradient(to bottom, #3c466e, #061a33); }

.bss-btn {
  margin: 0.1875rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0.125rem solid transparent;
  transition: all 0.15s ease-in-out; }
  .bss-btn:focus, .bss-btn:hover {
    text-decoration: none; }
  .bss-btn:focus, .bss-btn.focus {
    outline: 0; }
  .bss-btn.disabled, .bss-btn:disabled {
    opacity: .65; }
  .bss-btn:active, .bss-btn.active {
    background-image: none; }

.btn-primary-02 {
  display: inline-flex;
  /* stylelint-disable */
  align-items: unset !important;
  /* stylelint-enable */
  padding: 0.625rem 2.5rem;
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
  background: #09254a linear-gradient(180deg, #09254a 65%, #113f69, 90%, #0d3353);
  border: solid 0.1875rem #0d2240;
  border-radius: 0.25rem; }
  .btn-primary-02:hover, .btn-primary-02:active, .btn-primary-02:focus {
    color: white;
    cursor: pointer;
    background: #2e69a3;
    /* stylelint-disable */
    border: 0.1875rem solid #26579c !important;
    /* stylelint-enable */
    transition: all 0.15s ease-in; }
  .btn-primary-02 .fa {
    font-size: 1rem; }

.btn-primary-02-sm {
  width: 140px;
  padding: 0.625rem;
  margin: 1px;
  white-space: nowrap; }

.btn-danger,
.btn-primary,
.btn-primary-02 {
  padding: 0.625rem 2.5rem;
  font-size: 0.75rem;
  font-size: 0.75rem;
  /* stylelint-disable */
  color: white !important;
  /* stylelint-enable */ }

.btn span {
  margin: 0 auto; }

.btn-red {
  display: inline-flex;
  align-items: unset !important;
  padding: 0.625rem 2.5rem;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  background: #5c090c linear-gradient(180deg, #9e0a0f 65%, #c90c12, 90%, #9e0a0f);
  border: solid 0.1875rem #9e0a0f;
  border-radius: 0.25rem; }
  .btn-red:hover {
    background: #5c090c;
    border: 0.1875rem solid #ed687c !important;
    transition: all 0.15s ease-in; }
  .btn-red:active, .btn-red:focus {
    background: #c90c12;
    border: 0.1875rem solid #ed687c !important; }
  .btn-red .fa {
    font-size: 1rem; }

.btn-clearWhite {
  z-index: 1;
  padding: 0.5rem 0.75rem 0.1875rem 0.75rem;
  margin: 0;
  font-size: 0.875rem !important;
  color: #333;
  text-transform: capitalize !important;
  vertical-align: middle;
  background: linear-gradient(180deg, #ededed 36%, #cccdcf 100%);
  border: solid 0.125rem #fff !important;
  border-radius: 0; }
  .btn-clearWhite:hover {
    color: #fff;
    background: #26579c;
    border: solid 0.125rem #adb5bd; }
  .btn-clearWhite:focus, .btn-clearWhite:visited, .btn-clearWhite:active {
    color: #fff;
    background: #26579c;
    border: solid 0.125rem #adb5bd; }
  .btn-clearWhite .fa {
    margin-top: 4px;
    margin-right: 0.375rem;
    font-size: 1.125rem; }

.btn-green {
  padding: 0.625rem 2.5rem;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  background-image: linear-gradient(180deg, #1d7530 65%, #26963c, 90%, #1d7530);
  border: solid 0.1875rem #1d7530;
  border-radius: 0.25rem; }
  .btn-green:hover, .btn-green:active, .btn-green:focus {
    color: #fff;
    background: #28a745;
    border: 0.1875rem solid #28a745 !important;
    transition: background 0.3s ease-in; }
  .btn-green .fa {
    margin: 0.125rem 0.125rem;
    font-size: 1rem; }

.btn-danger,
.btn-primary {
  padding: 0.625rem 2.5rem;
  font-size: 0.75rem; }

.btn-default {
  color: #333;
  background: #ced4da;
  border: 1px solid #adb5bd; }

.actionBtn {
  align-self: center;
  min-width: 5rem;
  min-height: 2.5rem;
  padding: 6px 10px;
  text-align: center;
  background: #09254a;
  border: 1px solid #0288d5; }
  .actionBtn:hover, .actionBtn:active, .actionBtn:focus {
    cursor: pointer;
    background: #2e69a3;
    border: 1px solid #0288d5 !important;
    transition: all .3s ease-in; }
  .actionBtn .action-button-icon {
    margin: 0 4px; }

.button-save {
  margin: 15px;
  color: #fff;
  background: #28a745; }

.button.clear {
  display: flex; }

/*
< --------- BACKGROUNDS --------- >
*/
.full-screen-bg-landing-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background: rgba(9, 48, 90, 0.93) url("images/bg/usa-fb-bg.jpg") center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-blend-mode: multiply;
  object-fit: fill; }

.container-flexi-fluid.card-theme-blue {
  position: absolute;
  top: 112px; }

.bg-pages-blue {
  padding-top: 112px;
  height: 100vh;
  background: rgba(9, 48, 90, 0.93) url("images/bg/usa-fb-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 112px;
  background-position-x: center;
  background-size: cover;
  background-blend-mode: multiply;
  object-fit: fill; }
  .bg-pages-blue .bss-btn.btn-primary-02 {
    padding: 6px 10px; }
  .bg-pages-blue .data-table {
    position: relative; }
  .bg-pages-blue .form-control::placeholder {
    color: rgba(206, 220, 236, 0.5) !important; }

.page-title-container {
  display: flex;
  flex-flow: row wrap;
  height: 86px;
  vertical-align: middle; }
  .page-title-container .page-title {
    flex: 1 auto;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 3px;
    vertical-align: middle; }
    .page-title-container .page-title .fa {
      margin: 0 4px 0 0;
      color: #083660;
      vertical-align: middle; }
    .page-title-container .page-title .form-control {
      flex: 0 1 auto;
      max-width: 80%;
      height: 35px;
      border: 0;
      border-radius: 0; }
  .page-title-container .title-bar {
    position: absolute;
    top: 12rem;
    display: flex;
    margin-left: 5px;
    color: #fff; }

.full-screen-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0;
  background-image: url("images/bg/sign-in/bg-sign-in-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2800px;
  transition: all .15s ease-in-out; }

.sign-in-body {
  background: #09254a url("images/bg/sign-in/bg-sign-in-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2800px; }

.signin-screen-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 100vh;
  padding-top: 20px;
  overflow: hidden;
  background-image: url("images/bg/sign-in/bg-sign-in-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2800px; }

.player-container {
  position: relative;
  align-items: flex-end;
  width: 100%; }
  .player-container .players-signin {
    flex: 1 1 auto;
    align-self: flex-end;
    height: 97%;
    width: 97%;
    filter: drop-shadow(-16px 15px 14px rgba(0, 0, 0, 0.5));
    transition: all 0.2s ease-in-out; }

.player {
  z-index: 110;
  width: 927px;
  height: 100vh;
  background: url("css/images/bg/players/FB-Hero.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: middle bottom;
  background-size: 35%; }

.header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  height: 112px;
  margin-bottom: auto;
  color: #8ab8e4;
  background: #09254a; }

.brand-container {
  display: flex;
  max-width: 350px;
  padding: 7px 20px;
  margin-top: 18px;
  color: #fff;
  white-space: nowrap; }
  .brand-container .brand-logo {
    max-width: 300px; }
  .brand-container .brand-tag {
    position: relative;
    top: 3px;
    align-self: center flex-end;
    flex-shrink: 1;
    font-size: 0.875rem;
    color: #fff;
    text-decoration: none;
    white-space: nowrap; }
  .brand-container .brand-tag.a:link,
  .brand-container .brand-tag.a:visited,
  .brand-container .brand-tag.a:hover,
  .brand-container .brand-tag.a:active {
    color: #fff; }

.page-title {
  margin-bottom: 29px;
  font-size: 1.3125rem;
  letter-spacing: 2px; }

.header-content-divider {
  width: 100%;
  height: 20px;
  padding-top: 4px;
  margin: 0 40px;
  color: #fff;
  background: #fff;
  box-shadow: -1px -1px 20px 6px rgba(0, 0, 0, 0.2); }

/*
< --------- ALL SKEWED UP --------- >
*/
.red-skew-bar {
  position: relative;
  flex: 1 auto;
  height: 16px;
  margin-left: -40px;
  overflow: hidden;
  background: #9e0a0f;
  transform: skewX(-45deg); }

.white-skew-bar {
  position: relative;
  flex: 0 14px;
  width: 14px;
  height: 16px;
  background: #fff;
  transform: skewX(-45deg); }

.blue-skew-bar {
  position: relative;
  flex: 0 360px;
  width: auto;
  height: 16px;
  margin-right: -40px;
  overflow: hidden;
  background: linear-gradient(180deg, #113f69, #0d3353);
  transform: skewX(-45deg); }

/*
< --------- ALERTS --------- >
*/
.alertPane {
  height: 4.75rem;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0.625rem; }
  .alertPane .alert {
    padding: 0 1rem;
    margin: 0; }
    .alertPane .alert .alert-dismissible label {
      font-size: 1rem; }

.alert-dismissible .close {
  top: 0;
  right: -1.25rem;
  padding: .75rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: inherit;
  border-left: solid 1px rgba(40, 167, 69, 0.5); }

.editMode {
  background: rgba(0, 0, 0, 0.35) !important;
  border: 1px solid #0288d5 !important;
  transition: opacity .2s ease; }

.formField {
  display: flex;
  width: 100%;
  padding: 0.375rem 0.625rem;
  color: #fff;
  border: solid 1px transparent;
  transition: all .2s ease, border .2s ease; }
  .formField:disabled {
    background: transparent;
    border: 1px solid transparent;
    transition: all .4s ease, border .4s ease; }

.editMode .formField {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #0288d5;
  transition: all .4s ease, border .4s ease; }

select,
option {
  background: none;
  background: transparent; }

.profile-data {
  display: flex; }

.profile-data label {
  margin-bottom: 0; }

.selLabel {
  padding-left: 0.25rem;
  vertical-align: middle;
  border: 0.125rem solid rgba(9, 37, 74, 0.15); }
  .selLabel:disabled {
    display: none; }

.page-title-container a:link,
.page-title-container a:visited,
.page-title-container a:active {
  color: #fafad2; }

.custom-select {
  height: 2.125rem;
  color: #fff;
  background: #09254a; }
  .custom-select:disabled {
    color: #fff;
    background: none;
    background: transparent;
    background-image: url("images/clear.png") !important;
    border: 1px solid transparent; }

.navbar {
  width: 100%; }

.navbar-nav .nav-link {
  font-size: 0.8125rem; }
  .navbar-nav .nav-link:hover {
    color: #fff; }
  .navbar-nav .nav-link:contains("Home") {
    display: none; }

.navbar-nav .nav-link.active {
  color: #fff; }

.nav-item-separator {
  display: none;
  height: 20px;
  margin: 0.65rem 0.3rem 0 0.3rem;
  border-left: 0.125rem #2e69a3 solid;
  transform: skewX(-25deg); }

.dropdown-menu {
  position: static;
  float: none;
  font-size: 0.875rem; }

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background: #9e0a0f; }

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background: #9e0a0f; }

.container-fluid .my-account {
  font-size: .85rem;
  color: #fff; }

.container .my-account {
  margin-right: 0;
  font-size: .85rem;
  color: #fff; }

.user-avatar {
  width: 40px;
  max-width: 100%;
  margin: 0.375rem;
  background: #4990e2;
  border: 0.25rem solid #2e69a3;
  border-radius: 50%; }

.user-avatar-md {
  width: 100px;
  max-width: 100%;
  margin: 0.18rem;
  background: #4990e2;
  border: 0.25rem solid #2e69a3;
  border-radius: 50%; }

.user-avatar-lg {
  width: 8.75rem;
  width: 8.75rem;
  max-width: 100%;
  max-height: 100%;
  margin: 0.375rem;
  background: #4990e2;
  border: 0.25rem solid #2e69a3;
  border-radius: 50%; }

.navbar-nav.my-account {
  background: transparent;
  border: 1px solid transparent; }

.show .dropdown-toggle,
.show .nav-link.dropdown-toggle {
  color: #fff !important; }

.btn.dropdown-toggle:focus,
.bss-btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active,
.bss-btn.dropdown-toggle:active {
  color: #333; }

.my-account .nav-link.dropdown-toggle {
  text-transform: lowercase !important; }

.nav-link {
  display: block;
  padding: .5rem 0;
  font-size: 1rem; }

.top-nav {
  position: fixed;
  height: 112px;
  background: linear-gradient(180deg, #001121 12%, #001521 33%, transparent 100%); }

.nav-link.dropdown-item {
  font-size: 0.875rem;
  text-transform: none; }

.nav-item.last.dropdown {
  display: inline-flex;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #2e69a3; }

.bss.dropdown-menu {
  min-width: 180px;
  max-width: 250px;
  font-size: 0.875rem; }

.control-label {
  display: block;
  width: 100%;
  margin: auto; }

.signout-link {
  background: transparent; }
  .signout-link + .signout-link:visited {
    color: #fff;
    background: transparent; }
  .signout-link + .signout-link:hover {
    color: #fff; }

.divider-arrow {
  font-size: 0.75rem;
  position: absolute;
  top: 100px;
  left: 55%;
  right: 10px;
  width: 28px;
  padding: 8px;
  color: #fff;
  text-align: center;
  background: #09254a; }

.dropdown-divider {
  margin: 0;
  height: 1px;
  background: #fff;
  background-blend-mode: screen; }

.signout {
  background: #26579c;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }

.content-container {
  left: -10px;
  display: flex;
  padding: 20px; }

.main-content {
  margin-top: 20px; }

.footer-container {
  display: flex;
  flex-flow: row wrap;
  height: 236px;
  background-image: linear-gradient(to bottom, #09254a, #2e69a3); }

.text-field-email {
  background: url("img/icons/email.png"); }

.col-form-label {
  color: #868e96; }

.border-bottom {
  border-bottom: solid 0.03125rem #061b36; }

.edit-col {
  height: 100%; }

.sign-in-form-container {
  position: absolute;
  width: 24.875rem;
  margin: 20px auto;
  opacity: 1;
  top: 120px;
  transition: all 0.2s ease-in-out; }
  .sign-in-form-container .sign-in-page-logo {
    width: 15.1875rem;
    margin: 20px 18px; }

@media (max-width: 867px) {
  .sign-in-form-container {
    position: unset;
    margin: 20px;
    transition: all 0.2s ease-in-out; }
  .players-signin {
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: all 0.2s ease-in-out; } }

.bss.form-group .form-control.form-control-theme {
  width: 100%;
  padding-left: 40px;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-stretch: condensed;
  line-height: 1.57;
  color: #fff;
  letter-spacing: .8px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px; }

.sign-in-form {
  width: 398.9px;
  height: 344px;
  padding: 29px 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-image-source: linear-gradient(to top, rgba(255, 255, 255, 0.1), white);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 13px 9px rgba(0, 0, 0, 0.2); }
  .sign-in-form::before {
    width: 398.9px;
    height: 344px;
    padding: 29px 20px; }
  .sign-in-form .input-wrapper {
    flex-grow: 1;
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.2);
    border: solid 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px; }
    .sign-in-form .input-wrapper .input-icon-wrapper {
      width: 35px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      /* stylelint-disable */
      /* stylelint-enable */ }
      .sign-in-form .input-wrapper .input-icon-wrapper input[type="password"],
      .sign-in-form .input-wrapper .input-icon-wrapper input[type="email"] {
        width: 100%;
        height: 47.1px;
        padding-left: 35px;
        border-radius: 10px; }
      .sign-in-form .input-wrapper .input-icon-wrapper .txtEmail::before {
        content: "\f0e0";
        font-family: 'FontAwesome';
        font-size: .8rem; }
      .sign-in-form .input-wrapper .input-icon-wrapper .txtPass::before {
        content: "\f023";
        font-family: 'FontAwesome';
        font-size: .8rem; }
    .sign-in-form .input-wrapper .checkbox-theme {
      border: solid 3px rgba(0, 0, 0, 0.5); }
    .sign-in-form .input-wrapper .fa-layer {
      z-index: 500;
      display: flex;
      margin: 0 6px;
      font-size: 1.5rem;
      color: #868e96; }
    .sign-in-form .input-wrapper .fa-envelope {
      position: absolute;
      top: .9rem;
      left: .25rem; }
    .sign-in-form .input-wrapper .fa-lock {
      position: absolute;
      top: .8rem;
      left: .4rem; }
    .sign-in-form .input-wrapper .row > [class^="col-"] {
      padding-bottom: 0; }
    .sign-in-form .input-wrapper .form-control:focus {
      background: rgba(255, 255, 255, 0.15) !important;
      border: 1px solid rgba(0, 0, 0, 0.16) !important; }
  .sign-in-form .form-control-theme {
    width: 100%;
    height: 47.1px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px; }
  .sign-in-form .input-group {
    font-size: 0.875rem; }
    .sign-in-form .input-group .form-control {
      flex: 0 0 auto;
      width: 50%; }
    .sign-in-form .input-group .form-control.control-width-50 {
      flex: .5 0 auto;
      width: 50% !important; }

.userData .form-control {
  background: transparent; }
  .userData .form-control:focus {
    color: #fff;
    background: transparent;
    outline: none; }

/* stylelint-disable */
form.dropzone {
  height: 185px; }

/* stylelint-enable */
thead {
  font-size: 0.875rem;
  font-weight: 300 !important;
  color: #fff;
  text-transform: uppercase; }
  thead th {
    background: #09254a;
    border-top: solid 0 #09254a;
    border-bottom: solid 0 #09254a; }
    thead th:hover {
      cursor: pointer;
      background: #2e69a3;
      border-top: solid 0 #2e69a3;
      border-bottom: solid 0 #2e69a3; }

/* stylelint-disable */
thead.cpl {
  font-size: 0.875rem;
  font-weight: 300 !important;
  color: #fff;
  text-transform: uppercase; }
  thead.cpl th .th-inner {
    display: block;
    width: 100%;
    padding: 0 20px;
    padding: 0 1.25rem 0 0.625rem;
    margin: 0;
    font-size: 200%; }

/* stylelint-enable */
.table td {
  font-size: 0.875rem;
  vertical-align: middle; }

.card-view .title {
  font-weight: 700;
  text-transform: capitalize; }
  .card-view .title::after {
    margin-right: 6px;
    content: ":"; }

.usafb-tbl-grid {
  width: 100%; }

.status-disabled {
  color: #9e0a0f; }
  .status-disabled:link, .status-disabled:visited, .status-disabled:hover {
    color: #9e0a0f;
    text-decoration: none; }
  .status-disabled .fa-minus-circle::after {
    display: inline-block;
    margin-left: 4px;
    font-family: roboto, roboto light, sans-serif;
    font-size: 0.875rem;
    content: "Disabled";
    outline: 0; }

.status-enabled {
  color: #28a745; }
  .status-enabled:link, .status-enabled:visited, .status-enabled:hover {
    color: #28a745;
    text-decoration: none; }
  .status-enabled .fa-check-circle::after {
    display: inline-block;
    margin-left: 4px;
    font-family: roboto, roboto light, sans-serif;
    font-size: 0.875rem;
    content: "Active"; }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 2.5rem, 0); }
  to {
    opacity: 1;
    transform: none; } }

.mc-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(9, 48, 90, 0.93);
  background-image: url("images/bg/usa-fb-bg.jpg");
  background-blend-mode: multiply;
  object-fit: contain; }

.mc-container-overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  display: flex;
  width: 100%;
  padding: 20px 0; }

.profile-container {
  margin: 0 auto;
  background: rgba(73, 144, 226, 0.25);
  border-radius: 2px; }
  .profile-container .titlebar {
    height: 2.5rem;
    padding: .625rem 1.25rem;
    background: #9e0a0f; }
    .profile-container .titlebar .h3-title {
      padding: 0;
      margin: 0.0625rem 1.25rem 1.25rem 1.25rem;
      font-size: 1.25rem;
      color: #fff; }
  .profile-container .profile-data {
    width: 96%;
    padding: 1.25rem;
    margin: 0 auto;
    color: #d6ecff;
    background: rgba(0, 0, 0, 0.25);
    border: solid 1px transparent;
    border-radius: 2px; }
    .profile-container .profile-data .profileCard {
      width: 100%;
      padding: 20px 10px 10px;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 4px; }

.card-theme-blue .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #fff;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.45);
  background-clip: border-box;
  border: 1px solid #083660; }
  .card-theme-blue .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card-theme-blue .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-theme-blue .card-header {
  padding: 0.625rem 1.25rem;
  margin-bottom: 0;
  background: #0d2240;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-theme-blue .card-body {
  flex: 1 1 auto;
  padding: 1.25rem; }
  .card-theme-blue .card-body .form-group {
    margin-bottom: 0; }

.card-theme-blue .card-title {
  margin-bottom: 0.625rem; }

.card-theme-blue .card-subtitle {
  margin-top: -0.3125rem;
  margin-bottom: 0; }

.card-theme-blue .card-text:last-child {
  margin-bottom: 0; }

.card-theme-blue .card-link:hover {
  text-decoration: none; }

.card-theme-blue .card-link + .card-link {
  margin-left: 1.25rem; }

.font-xl {
  font-size: 2.25rem;
  vertical-align: middle; }

.font-lg {
  font-size: 2rem;
  vertical-align: middle; }

.font-md {
  font-size: 1.5rem; }

.offset-top-2 {
  position: relative;
  top: 2px;
  top: 0.125rem; }

.offset-top--6 {
  position: relative;
  top: -6px;
  top: -0.375rem; }

.offset-top--4 {
  position: relative;
  top: -4px;
  top: -0.25rem; }

.offset-top-8 {
  position: relative;
  top: 18px;
  top: 0.5rem; }

.offset-top-10 {
  position: relative;
  top: 10px;
  top: 0.625rem; }

@media (max-width: 768px) {
  .row > [class^="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; } }

.modal-header {
  color: #fff;
  text-transform: uppercase;
  background: #09254a; }
  .modal-header .close {
    color: #fff;
    text-shadow: 0 1px 0 #000; }

/* stylelint-disable */
#importer .modal-body .container-fluid {
  height: 306px;
  overflow-y: scroll; }

/* stylelint-enable */
#advSearch .modal-body .container-fluid {
  display: flex;
  height: 306px;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  overflow-y: scroll;
  border: 2px solid #ced4da !important; }
  #advSearch .modal-body .container-fluid .input-row {
    display: inline-flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50%;
    padding: 10px;
    background: #dee2e6;
    border-top: 2px solid #ced4da !important;
    border-right: 2px solid transparent !important;
    border-bottom: 2px solid #ced4da !important;
    border-left: 2px solid transparent !important; }

.form-horizontal .form-control {
  width: 100% !important;
  background: #002f63 !important;
  border-color: #002248 !important; }

#multiSorter .modal-body .container-fluid .bootstrap-table {
  opacity: 1; }

.border-lightGrey-2s {
  border: 0.125rem solid #ced4da !important; }

.dnd-div .border-lightGrey-2s:hover {
  border-color: #28a745; }

@keyframes motion-right {
  0% {
    left: 0; }
  100% {
    right: 200px; } }

.move-from-left-0--right-200 {
  animation: motion-1 .5s 1, motion-2 .5s 1 .5s; }

.progress {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  line-height: 150px;
  background: none;
  box-shadow: none; }
  .progress::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border: 12px solid #fff;
    border-radius: 50%; }
  .progress > span {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden; }
  .progress .progress-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    border-style: solid;
    border-width: 12px; }
  .progress .progress-left {
    left: 0; }
    .progress .progress-left .progress-bar {
      left: 100%;
      border-left: 0;
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
      transform-origin: center left; }
  .progress .progress-right {
    right: 0; }
    .progress .progress-right .progress-bar {
      left: -100%;
      border-right: 0;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      transform-origin: center right;
      animation: loading-1 1.8s linear forwards; }
  .progress .progress-value {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    font-size: 24px;
    line-height: 135px;
    color: #fff;
    text-align: center;
    background: #44484b;
    border-radius: 50%; }

.progress.blue .progress-bar {
  border-color: #049dff; }

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s; }

.progress.yellow .progress-bar {
  border-color: #fdba04; }

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s; }

.progress.pink .progress-bar {
  border-color: #ed687c; }

.progress.pink .progress-left .progress-bar {
  animation: loading-4 .4s linear forwards 1.8s; }

.progress.green .progress-bar {
  border-color: #20c997; }

.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s; }

@keyframes loading-1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes loading-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(144deg); } }

@keyframes loading-3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

@keyframes loading-4 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(36deg); } }

@keyframes loading-5 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(126deg); } }

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px; } }

.mbx,
.mbx01,
#mbx,
#mbx01 {
  width: 90%;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.875rem; }

.mbx-icon {
  font-size: 3rem; }

.card-theme-blue h4.card-header {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300 !important; }

.notify {
  display: flex;
  flex-flow: row wrap;
  padding: 0 !important;
  background: #2e69a3; }
  .notify:nth-child(odd) {
    background: #285c8f; }

.notify-item {
  padding-bottom: 10px;
  font-size: .9rem;
  color: #d6ecff;
  border-bottom: 1px solid #26579c; }

.notify-item i.fa {
  font-size: 1.25rem; }

.notify-icon {
  color: #d6ecff;
  text-align: center; }

.notify-item .lead {
  font-size: .95rem; }

.icon-wrapper-32 {
  width: 32px;
  height: 32px; }

.icon-wrapper-42 {
  width: 42px;
  height: 42px; }

.svg-color-black {
  background: #000; }

.icon-white {
  fill: #fff; }

.if-height {
  display: flex;
  width: 100%;
  height: 100%; }

.loading-icon {
  display: inline-block;
  width: 24px;
  height: 100px;
  height: 30px;
  padding: 1em;
  margin: 0 0 2em;
  margin: 0 auto 1em;
  text-align: center;
  vertical-align: top;
  background: url("data:image/svg+xml;charset=utf8,%3Cdiv class='loader loader--style7' title='6'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Crect x='0' y='0' width='4' height='20' fill='#333'%3E%3Canimate attributeName='opacity' attributeType='XML' values='1; .2; 1'  begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='7' y='0' width='4' height='20' fill='#333'%3E%3Canimate attributeName='opacity' attributeType='XML' values='1; .2; 1' begin='0.2s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E %3Crect x='14' y='0' width='4' height='20' fill='#333'%3E%3Canimate attributeName='opacity' attributeType='XML' values='1; .2; 1' begin='0.4s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3C/svg%3E%3C/div%3E"); }

.loading-icon svg path,
.loading-icon svg rect {
  fill: #09254a; }

.modal-header button[type="button"] {
  position: absolute !important;
  right: 20px; }

.gradient-trick {
  /* FF3.6+ */
  background: -webkit-gradient(linear, 145deg, color-stop(35%, #09254a), color-stop(45%, #09254a), color-stop(0, #fff), color-stop(50%, #fff), color-stop(45%, #ab0b33), color-stop(35%, #ab0b33));
  background: linear-gradient(145deg, #09254a 35%, #09254a 45%, #fff 0, #fff 50%, #330 45%, #330 35%); }

.color-corflower-blue {
  color: #4990e2; }

.bg-clear-white {
  background: rgba(255, 255, 255, 0.03); }

.bg-clear-white-md {
  background: rgba(255, 255, 255, 0.15); }

.bg-clear-black {
  background: rgba(0, 0, 0, 0.25); }

.badge-darkgreen {
  background: rgba(23, 85, 26, 0.76);
  background-blend-mode: multiply; }

.badge-01 {
  display: inline-block;
  width: 96%;
  height: 50px;
  margin: auto;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 50px;
  color: #fafad2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }

.row.badge-group {
  padding: 0 !important;
  margin: 0 !important;
  white-space: nowrap; }

.badge-group-labelrow {
  width: 96%;
  padding: 6px 0 2px;
  margin: auto;
  font-size: 70%;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  background: rgba(0, 0, 0, 0.5); }

.body-bg-blue {
  color: #fff;
  background: #09254a; }

.flip-horz {
  transform: scaleX(-1); }

.sideBar-container {
  display: flex;
  flex-flow: row wrap;
  min-height: 200px;
  padding: 0;
  margin: -44px 0 0 0;
  background: #d4d7db; }
  .sideBar-container .sideBar {
    flex: 1 auto;
    width: 100%;
    min-width: 200px;
    margin-bottom: 16px;
    color: #fff;
    background: #d8d8d8; }
    .sideBar-container .sideBar .sideBarContent1 {
      width: 100%;
      margin-bottom: 15px;
      border-bottom: 1px solid #bababa; }
    .sideBar-container .sideBar .sideBarContent2 {
      display: none;
      width: 100%;
      padding: 10px;
      border-top: 1px solid #d4d7db; }
    .sideBar-container .sideBar .bss-btn {
      width: 100%; }
    .sideBar-container .sideBar .fa-caret-right::after {
      width: 100%;
      text-align: right; }

body.scaff .row > [class^="col-"],
body.allDivs {
  border: 1px solid #ccc; }

.row > [class^="col-"] {
  padding-top: 0.625rem; }

.row {
  width: 100%;
  margin: 0; }
